.contact-form{
    width: 91%;
    margin: 6rem auto 0 auto;
}

.contact-form_map{
    padding: 2rem;
    background-color: #ffffffb9;
    margin-bottom: 2rem;
}

.contact-form_map h2{
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 3rem;
}

.contact-form_map h2,
.contact-form_map p{
    margin: 0 1rem 1rem 1rem;
    text-align: center;
    color: #555555;
}

/*Displaying form and inputs*/

.form-input form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.form-input form input,
.form-input form textarea{
    flex: 40%;
    margin: 1rem;
    padding: 1rem;
    border:none;
    outline: none;
    border-bottom: 1px solid #000000;
    color: #000000;
    background-color: transparent;
}

::placeholder {
    color: #000000;
    opacity: 1; /* Firefox */
    font-weight: 500;
    font-size: 1.2rem;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #000000;
   font-weight: 500;
   font-size: 1.2rem;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
   color: #000000;
   font-weight: 500;
   font-size: 1.2rem;
  }



.form-input form textarea{
    flex: 100%;
    height: 125px;
    resize: none;
}

.button{ 
    margin: 0 1rem 0 1rem;
    padding: 1rem 3rem 1rem 3rem;
    background-color: transparent;
    outline: none;
    border: 2px solid #555555;
    cursor: pointer;
    font-size: 1.2rem;
    text-transform: uppercase;
    
}

.button:hover{
    color: #ffffff;
    background-color: #555555;
    border: 2px solid #3b3b3b;
    transition: 0.5s;
    transform: scale(1.2);
}

/*removes placeholder on focus */

input:focus::placeholder,
textarea:focus::placeholder {
    color: transparent;
  }


  /* MAP and Location */

.contact-map{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 2rem auto 0 auto;
}

.contact-info_map{
    flex: 50%;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;

    position: relative;
}

.contact-info_map h3{
    color: #555555;
    margin: 1rem 1rem 2rem 1rem;
    display: inline-block;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #555555;
}


.contact-info-icons_text{
 margin: 1rem 1rem 1rem 1rem;  
}

.contact-info-icons_text img,
.contact-info-icons_text p{
    vertical-align: middle;
}

.contact-info-icons_text p{
    display: inline-block;
    margin-left: 0.3rem;
    margin-bottom: 0;
}

#map {
    width: 90%;
    margin: auto;
    height: 90%;
    overflow: visible;
}
  

@media (max-width: 822px){
    
    .contact-map{
        flex-direction: column;
    }

    .contact-info_map{
        flex: 100%;
    }

    .contact-map{
        padding-left: 0;
        padding-right: 0;
    }

    .contact-form_map{
        padding-left: 0;
        padding-right: 0;
    }

    #map-class{
        height: 500px;
        overflow: visible;
        width: 100%;
        margin: 0;
    }
}

@media(max-width: 500px){

    .contact-map{
        margin-top: 0;
        padding-top: 0;
    }

    .contact-form_map h2{
        font-size: 1.5rem;
    }
    .contact-info_map{
        font-size: 1rem;
    }

    #map-class{
        height: 300px;
    }

    .button{ 
        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    }
}